.comment__inner {
  display: flex;

  @media (max-width: $screen-sm) {
    flex-direction: column;
    align-items: center;

    background-color: rgb(24, 22, 23);
    background-image: linear-gradient(180deg, #181617 0%, #181617 18%, #1f1c1d 18%, #1f1c1d 100%);
  }
}

.comment__img-wrap {
  position: relative;
  left: 47px;

  margin-left: 6px;

  align-self: flex-start;

  @media (max-width: $screen-md) {
    position: absolute;
    top: 300px;
    right: 60px;
    left: auto;

    margin: 0;
  }

  @media (max-width: $screen-sm) {
    position: relative;
    top: 0;
    left: 50%;
    right: auto;

    transform: translateX(-50%);
  }
}

.comment__img-wrap img {
  width: 360px;
  height: 356px;

  @media (max-width: $screen-md) {
    width: 207px;
    height: 209px;
  }

  @media (max-width: $screen-sm) {
    width: 126px;
    height: 126px;
  }
}

.comment__description {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 72px 90px 65px 89px;
  width: 420px;

  border-top: 21px solid $bg-black-light;
  border-right: 34px solid $bg-black-light;
  border-bottom: 21px solid $bg-black-light;
  border-left: 26px solid $bg-black-light;
  background-color: $bg-grey-dark;
  outline: 1px solid $brown-light;

  @media (max-width: $screen-md) {
    margin: 1px;
    padding-bottom: 73px;
    padding-left: 98px;
    width: auto;

    border-top: 22px solid $bg-black-light;
    border-right: 24px solid $bg-black-light;
    border-bottom: 22px solid $bg-black-light;
    border-left: 24px solid $bg-black-light;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    padding: 20px 10px 13px;
    width: 280px;

    border: 0;
    outline: 0;
  }
}

.comment__description b {
  display: block;

  margin-bottom: 5px;
  margin-left: 11px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;

  text-align: left;

  color: $brown-light;

  @media (max-width: $screen-sm) {
    margin: 0;

    font-size: 18px;
    line-height: 21px;

    text-align: center;
  }
}


.comment__description p {
  margin: 0;
  margin-bottom: 23px;
  margin-left: 11px;
  width: auto;

  @include text;

  text-align: left;
  letter-spacing: 0;

  @media (max-width: $screen-sm) {
    margin-bottom: 18px;
    margin-left: 0;

    text-align: center;
  }
}

.comment__blockquote {
  margin: 0;
  margin-bottom: 42px;
  margin-left: 11px;

  @media (max-width: $screen-md) {
    margin-bottom: 46px;
  }

  @media (max-width: $screen-sm) {
    margin-right: auto;
    margin-bottom: 22px;
    margin-left: auto;
  }
}

.comment__blockquote p {
  margin: 0;
  padding: 0;
  width: auto;

  font-size: $font-size;
  font-weight: 300;
  line-height: 25px;

  text-align: left;

  color: rgba(255, 255, 255, 0.62);

  @media (max-width: $screen-sm) {
    @include text;

    letter-spacing: 0;

    color: rgba(255, 255, 255, 0.72);
  }
}

.comment__blockquote br {
  display: none;

  @media (max-width: $screen-sm) {
    display: block;
  }
}

.comment__social {
  display: flex;
  flex-wrap: wrap;

  width: 230px;

  @media (max-width: $screen-sm) {
    margin-right: auto;
    margin-left: auto;
    width: 84px;
  }
}

.comment__social .social__link {
  width: 19px;
  height: 15px;

  @media (max-width: $screen-md) {
    width: 17px;
  }

  @media (max-width: $screen-sm) {
    height: 13px;
  }
}
