.main-header {
  position: relative;
  width: 100%;
  max-width: 100%;

  background-color: $bg-header-color;
}

.main-header__inner {
  position: relative;
  margin: 0 auto;
  padding: 184px 70px 173px;
  max-width: 1366px;

  @media (max-width: $screen-md) {
    padding: 145px 4.947vw 44px;
    width: 100%;
    max-width: 1030px;
  }

  @media (max-width: $screen-sm) {
    padding: 100px 13.437vw 276px;
  }
}

.main-header__logo {
  position: absolute;
  top: 46px;
  left: 50%;

  transform: translateX(-50%);

  @media (max-width: $screen-md) {
    top: 28px;
  }

  @media (max-width: $screen-sm) {
    top: 24px;
  }
}

.main-header__text-wrap {
  margin-left: 132px;
  width: 29.282vw;

  font-size: 16px;
  line-height: 24px;

  color: $brown-light;

  @media (max-width: $screen-md) {
    margin-left: 3px;
    width: 44.27vw;
  }

  @media (max-width: $screen-sm) {
    margin-right: auto;
    margin-left: auto;
    width: auto;

    font-size: 14px;

    text-align: center;
  }
}

.main-header__text-wrap span {
  display: inline-block;

  margin-bottom: 18px;
  margin-left: 2px;

  vertical-align: top;

  @media (max-width: $screen-md) {
    margin-bottom: 20px;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    margin-bottom: 6px;

    line-height: 1.5;
  }
}

.main-header__text-wrap h1 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-family: $font-family-secondary;
  font-size: 52px;
  line-height: 60px;

  color: $white;

  @media (max-width: $screen-md) {
    margin-bottom: 18px;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    margin-bottom: 16px;

    font-size: 36px;
    line-height: 42px;
  }
}

.main-header__text-wrap p {
  margin: 0;
  margin-bottom: 48px;
  margin-left: 2px;
  padding: 0;
  width: 280px;

  @media (max-width: $screen-md) {
    margin-bottom: 50px;
    width: 44vw;
  }

  @media (max-width: $screen-sm) {
    margin: 0;
    margin-bottom: 36px;
    width: auto;

    line-height: 1.4;
  }
}

.main-header__link {
  margin-left: 2px;

  @media (max-width: $screen-md) {
    margin-bottom: 55px;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 0;
  }
}

.main-header__img-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main-header__img-wrap,
.main-header__img-wrap img {
  width: 750px;
  height: 682px;

  @media (max-width: $screen-md) {
    width: 490px;
    height: 534px;
  }

  @media (max-width: $screen-sm) {
    width: 275px;
    height: 256px;
  }
}

.main-header__social {
  position: absolute;
  bottom: 60px;
  left: 76px;

  padding-top: 103px;
  width: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;

    width: 1px;
    height: 77px;

    background-color: rgba(255, 255, 255, 0.67);
  }

  @media (max-width: $screen-md) {
    position: static;

    display: flex;
    flex-wrap: wrap;

    padding: 0;
    width: 160px;

    &::before {
      content: none;
    }
  }

  @media (max-width: $screen-sm) {
    display: none;
  }
}
