<section class="advantages">
  <div class="advantages__inner">
    <h2>Почему именно мы?</h2>
    <p>Приобретая  животное в нашем питомнике, вы получите</p>
    <ul class="list-reset advantages__list">
      <li class="advantages__item">
        <div class="advantages__content advantages__content--veterinary">
          <p>Бесплатное ветеринарное обслуживание 5 лет</p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__content advantages__content--consultation">
          <p>Консультирование по любому вопросу 24 часа в сутки</p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__content advantages__content--individual">
          <p>Индивидуальный подбор питания для вашего кота</p>
        </div>
      </li>
    </ul>
  </div>
</section>
