<section class="care">
  <div class="care__inner">
    <h2>Об уходе&nbsp;<br>за Мейн-Куном</h2>
    <ul class="list-reset care__list">
      <li class="care__item">
        <div class="care__content care__content--wool">
          <h3>Шерсть</h3>
          <p>Мы разработали 8 правил, следуя которым, шерсть вашего кота всегда будет блестящей, мягкой и послушной</p>
          <a class="btn care__link" href="#">
            <span class="visually-hidden">Ссылка на правила</span>
          </a>
        </div>
      </li>
      <li class="care__item care__item--nails">
        <div class="care__content">
          <h3>Когти</h3>
          <p>Нужно ли стричь когти? Это мы и выясним, плюс ко всему расскажем как подобрать идеальную когтеточку</p>
          <a class="btn care__link" href="#">
            <span class="visually-hidden">Ссылка на правила</span>
          </a>
        </div>
      </li>
      <li class="care__item">
        <div class="care__content">
          <h3>Уши и глаза</h3>
          <p>Владельцам котов необходимо регулярно осматривать<br>ушки и глаза своих питомцев, ведь это может быть признаками заболевания</p>
          <a class="btn care__link" href="#">
            <span class="visually-hidden">Ссылка на правила</span>
          </a>
        </div>
      </li>
      <li class="care__item care__item--nutrition">
        <div class="care__content">
          <h3>Питание</h3>
          <p>В нашем питомнике существует два подхода: натуральное питание и питание промышленными кормами, но&nbsp;выбирать только вам</p>
          <a class="btn care__link" href="#">
            <span class="visually-hidden">Ссылка на правила</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
