<section class="faq">
  <div class="faq__inner">
    <h2>Вопрос-Ответ</h2>
    <p>Мы ответим на самые популярные выши вопросы</p>
    <div class="faq__accordion accordion">
      <div class="accordion__item accordion-open">
        <button class="btn accordion__head">С какого возраста можно забирать котенка из питомника?</button>
        <div class="accordion__body">
          <p>Есть важная причина, почему котенка стоит забирать домой только после трех месяцев, – это вакцинация. Первые прививки животному делают в возрасте 8 недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12 недель, максимально защищен от различных вирусов и инфекций.</p>
          <p>Так что, чтобы в дома появился психически и физически здоровый котенок, игривый, жизнерадостный, самостоятельный и воспитанный, не спешите забирать его от кошки-мамы раньше трех месяцев.</p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="btn accordion__head">Как зарезервировать котенка?</button>
        <div class="accordion__body">
          <p>Есть важная причина, почему котенка стоит забирать домой только после трех месяцев, – это вакцинация. Первые прививки животному делают в возрасте 8 недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12 недель, максимально защищен от различных вирусов и инфекций.</p>
          <p>Так что, чтобы в дома появился психически и физически здоровый котенок, игривый, жизнерадостный, самостоятельный и воспитанный, не спешите забирать его от кошки-мамы раньше трех месяцев.</p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="btn accordion__head">Можно ли купить кота, если я живу в другом городе?</button>
        <div class="accordion__body">
          <p>Есть важная причина, почему котенка стоит забирать домой только после трех месяцев, – это вакцинация. Первые прививки животному делают в возрасте 8 недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12 недель, максимально защищен от различных вирусов и инфекций.</p>
          <p>Так что, чтобы в дома появился психически и физически здоровый котенок, игривый, жизнерадостный, самостоятельный и воспитанный, не спешите забирать его от кошки-мамы раньше трех месяцев.</p>
        </div>
      </div>
      <div class="accordion__item">
        <button class="btn accordion__head">Как подготовить дом к приему нового питомца?</button>
        <div class="accordion__body">
          <p>Есть важная причина, почему котенка стоит забирать домой только после трех месяцев, – это вакцинация. Первые прививки животному делают в возрасте 8 недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12 недель, максимально защищен от различных вирусов и инфекций.</p>
          <p>Так что, чтобы в дома появился психически и физически здоровый котенок, игривый, жизнерадостный, самостоятельный и воспитанный, не спешите забирать его от кошки-мамы раньше трех месяцев.</p>
        </div>
      </div>
    </div>
  </div>
</section>
