<section class="features">
  <div class="features__inner">
    <h2>Особенности породы</h2>
    <div class="features__text">
      <p>Мейн-Кун - это порода, которая вызывает к себе уважение.
        <span>Приобретая в свой дом этого питомца, вы получите умное животное, которому нет равных</span>
      </p>
    </div>
    <div class="features__wrap">
      <div class="features__img-wrap">
        <div class="features__img">
          <picture>
            <source type="image/webp" media="(max-width: 767px)" srcset="img/photo-description-sm@1x.webp, img/photo-description-sm@2x.webp 2x">
            <source type="image/webp" media="(max-width: 1365px)" srcset="img/photo-description-md@1x.webp, img/photo-description-md@2x.webp 2x">
            <source type="image/webp" srcset="img/photo-description-lg@1x.webp, img/photo-description-lg@2x.webp 2x">
            <source media="(max-width: 767px)" srcset="img/photo-description-sm@1x.png, img/photo-description-sm@2x.png 2x">
            <source media="(max-width: 1365px)" srcset="img/photo-description-md@1x.png, img/photo-description-md@2x.png 2x">
            <img src="img/photo-description-lg@1x.png" srcset="img/photo-description-lg@2x.png 2x" alt="Фото кота породы мейн-кун">
          </picture>
        </div>
      </div>
      <ul class="list-reset features__list">
        <li class="features__item features__item--kindness">Легко уживается в семьях с детьми или другими животными</li>
        <li class="features__item features__item--appearance">Внешний вид этой кошки похож на дикую рысь</li>
        <li class="features__item features__item--training">Выполняет команды как дрессированная собака</li>
        <li class="features__item features__item--size">Вес может достигать 12 кг, а длина 1 м</li>
      </ul>
    </div>
  </div>
</section>
