<footer class="main-footer">
  <div class="main-footer__inner">
    <div class="main-footer__wrap">
      <div class="logo main-footer__logo">
        <span class="visually-hidden">Логотип питомника Мейн-Кун</span>
        <img src="img/logo.svg" width="57" height="26" alt="Логотип питомника Мейн-Кун">
      </div>
      <ul class="list-reset main-footer__social social">
        <li class="social__item">
          <a class="social__link" target="_blank" title="Фейсбук" href="#">
            <span class="visually-hidden">Мы в фейсбуке</span>
            <svg width="6" height="12">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" target="_blank" title="Твитер" href="#">
            <span class="visually-hidden">Мы в твитере</span>
            <svg width="16" height="11">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" target="_blank" title="Вконтакте" href="#">
            <span class="visually-hidden">Мы в контакте</span>
            <svg width="13" height="8">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wk"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p>Новосибирск, Пушкинский проспект, 19</p>
      <a class="main-footer__phone" href="tel:93839006465">+7&nbsp;(383)&nbsp;900-64-65</a>
    </div>
  </div>
</footer>
