<header class="main-header">
  <div class="main-header__inner">
    <div class="logo main-header__logo">
      <span class="visually-hidden">Логотип питомника Мейн-Кун</span>
      <img src="img/logo.svg" width="57" height="26" alt="Логотип питомника Мейн-Кун">
    </div>
    <div class="main-header__text-wrap">
      <span>Новосибирск</span>
      <h1>Питомник Мейн-Кунов</h1>
      <p>Первый питомник с расширенным спектром услуг</p>
      <a class="btn main-link main-header__link" href="#">Смотреть котиков</a>
    </div>
    <ul class="list-reset main-header__social social">
      <li class="social__item">
        <a class="social__link" target="_blank" title="Вконтакте" href="#">
          <span class="visually-hidden">Мы в контакте</span>
          <svg width="13" height="8">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wk"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" target="_blank" title="Твитер" href="#">
          <span class="visually-hidden">Мы в твитере</span>
          <svg width="15" height="11">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" target="_blank" title="Фейсбук" href="#">
          <span class="visually-hidden">Мы в фейсбуке</span>
          <svg width="5" height="11">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="main-header__img-wrap">
    <picture>
      <source type="image/webp" media="(max-width: 767px)" srcset="img/main-coon-sm@1x.webp, img/main-coon-sm@2x.webp 2x">
      <source type="image/webp" media="(max-width: 1365px)" srcset="img/main-coon-md@1x.webp, img/main-coon-md@2x.webp 2x">
      <source type="image/webp" srcset="img/main-coon-lg@1x.webp, img/main-coon-lg@2x.webp 2x">
      <source media="(max-width: 767px)" srcset="img/main-coon-sm@1x.png, img/main-coon-sm@2x.png 2x">
      <source media="(max-width: 1365px)" srcset="img/main-coon-md@1x.png, img/main-coon-md@2x.png 2x">
      <img src="img/main-coon-lg@1x.png" srcset="img/main-coon-lg@2x.png 2x" alt="Фото кота породы мейн-кун">
    </picture>
  </div>
</header>
