<section class="nurslings">
  <div class="nurslings__inner">
    <h2>Питомцы</h2>
    <p>Все представители нашего питомника имеют ветеринарный паспорт с отметками о прививках и документ с родословной</p>
    <ul class="list-reset nurslings__tabs">
      <li class="nurslings__tab-item">
        <a class="nurslings__tab-link nurslings__tab-link--active" href="#content1">Коты</a>
      </li>
      <li class="nurslings__tab-item">
        <a class="nurslings__tab-link" href="#content2">Кошки</a>
      </li>
      <li class="nurslings__tab-item">
        <a class="nurslings__tab-link" href="#content3">Котята</a>
      </li>
    </ul>
    <div class="gallery nurslings__gallery">
      <ul class="list-reset gallery__inner">
        <li class="gallery__item gallery__item--top">
          <div class="gallery__img-wrap gallery__img-wrap--top">
            <picture>
              <source type="image/webp" srcset="img/photo-gallery-1@1x.webp, img/photo-gallery-1@2x.webp 2x">
              <img src="img/photo-gallery-1@1x.jpg" srcset="img/photo-gallery-1@2x.jpg 2x" width="519" height="214" alt="Фото кота породы мейн-кун">
            </picture>
          </div>
        </li>
        <li class="gallery__item gallery__item-next">
          <div class="gallery__img-wrap gallery__img-wrap--bottom">
            <picture>
              <source type="image/webp" srcset="img/photo-gallery-2@1x.webp, img/photo-gallery-2@2x.webp 2x">
              <img src="img/photo-gallery-2@1x.jpg" srcset="img/photo-gallery-2@2x.jpg 2x" width="519" height="241" alt="Фото кота породы мейн-кун">
            </picture>
          </div>
        </li>
        <li class="gallery__item gallery__item-active">
          <div class="gallery__img-wrap gallery__img-wrap--right">
            <picture>
              <source type="image/webp" srcset="img/photo-gallery-3@1x.webp, img/photo-gallery-3@2x.webp 2x">
              <img src="img/photo-gallery-3@1x.jpg" srcset="img/photo-gallery-3@2x.jpg 2x" width="474" height="485" alt="Фото кота породы мейн-кун">
            </picture>
          </div>
        </li>
      </ul>
      <div class="gallery__toggles toggles">
        <button class="btn toggles__btn toggles__btn--prev" aria-label="Previous slide">Вперёд</button>
        <button class="btn toggles__btn toggles__btn--next" aria-label="Next slide">Назад</button>
      </div>
    </div>
    <a class="btn main-link nurslings__link" href="#">Смотреть больше</a>
  </div>
</section>
