<section class="reviews">
  <h2>Отзывы</h2>
  <div class="reviews__inner">
    <div class="slider slider--reviews">
      <div class="swiper-container">
        <ul class="list-reset swiper-wrapper">
          <li class="slider__item swiper-slide">
            <article class="comment-reviews">
              <h3 class="visually-hidden">Сережа Попов</h3>
              <div class="comment-review__inner">
                <div class="comment-reviews__img-wrap">
                  <picture>
                    <source type="image/webp" media="(max-width: 1365px)" srcset="img/photo-reviews-md@1x.webp, img/photo-reviews-md@2x.webp 2x">
                    <source type="image/webp" srcset="img/photo-reviews-lg@1x.webp, img/photo-reviews-lg@2x.webp 2x">
                    <source media="(max-width: 1365px)" srcset="img/photo-reviews-md@1x.jpg, img/photo-reviews-md@2x.jpg 2x">
                    <img src="img/photo-reviews-lg@1x.jpg" srcset="img/photo-reviews-lg@2x.jpg 2x" width="481" height="332" alt="Фото Василисы Лазаревой">
                  </picture>
                </div>
                <div class="comment-reviews__description">
                  <b>Василиса Лазарева</b>
                  <blockquote class="comment-reviews__blockquote">
                    <p>Я выражаю огромную благодарность<br>&nbsp;вашему питомнику. Мой Феликс невероятно<br>&nbsp;умен и воспитан. Огромным плюсом питомника<br>&nbsp;является возможность консультироваться в любое время</p>
                  </blockquote>
                  <div class="comment-reviews__row">
                    <time class="comment-reviews__date" datetime="2019-05-24T">24 мая 2018</time>
                    <ul class="list-reset social comment-reviews__social">
                      <li class="social__item">
                        <a class="social__link" target="_blank" title="Твитер" href="#">
                          <span class="visually-hidden">Мы в твитере</span>
                          <svg width="16" height="11">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="social__item">
                        <a class="social__link" target="_blank" title="Вконтакте" href="#">
                          <span class="visually-hidden">Мы в контакте</span>
                          <svg width="13" height="8">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wk"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="slider__item swiper-slide">
            <article class="comment-reviews">
              <h3 class="visually-hidden">Сережа Попов</h3>
              <div class="comment-review__inner">
                <div class="comment-reviews__img-wrap">
                  <picture>
                    <source type="image/webp" media="(max-width: 1365px)" srcset="img/photo-reviews-md@1x.webp, img/photo-reviews-md@2x.webp 2x">
                    <source type="image/webp" srcset="img/photo-reviews-lg@1x.webp, img/photo-reviews-lg@2x.webp 2x">
                    <source media="(max-width: 1365px)" srcset="img/photo-reviews-md@1x.jpg, img/photo-reviews-md@2x.jpg 2x">
                    <img src="img/photo-reviews-lg@1x.jpg" srcset="img/photo-reviews-lg@2x.jpg 2x" width="481" height="332" alt="Фото Василисы Лазаревой">
                  </picture>
                </div>
                <div class="comment-reviews__description">
                  <b>Василиса Лазарева</b>
                  <blockquote class="comment-reviews__blockquote">
                    <p>Я выражаю огромную благодарность<br>&nbsp;вашему питомнику. Мой Феликс невероятно<br>&nbsp;умен и воспитан. Огромным плюсом питомника<br>&nbsp;является возможность консультироваться в любое время</p>
                  </blockquote>
                  <div class="comment-reviews__row">
                    <time class="comment-reviews__date" datetime="2019-05-24T">24 мая 2018</time>
                    <ul class="list-reset social comment-reviews__social">
                      <li class="social__item">
                        <a class="social__link" target="_blank" title="Твитер" href="#">
                          <span class="visually-hidden">Мы в твитере</span>
                          <svg width="16" height="11">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="social__item">
                        <a class="social__link" target="_blank" title="Вконтакте" href="#">
                          <span class="visually-hidden">Мы в контакте</span>
                          <svg width="13" height="8">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wk"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
          </li>
          <li class="slider__item swiper-slide">
            <article class="comment-reviews">
              <h3 class="visually-hidden">Сережа Попов</h3>
              <div class="comment-review__inner">
                <div class="comment-reviews__img-wrap">
                  <picture>
                    <source type="image/webp" media="(max-width: 1365px)" srcset="img/photo-reviews-md@1x.webp, img/photo-reviews-md@2x.webp 2x">
                    <source type="image/webp" srcset="img/photo-reviews-lg@1x.webp, img/photo-reviews-lg@2x.webp 2x">
                    <source media="(max-width: 1365px)" srcset="img/photo-reviews-md@1x.jpg, img/photo-reviews-md@2x.jpg 2x">
                    <img src="img/photo-reviews-lg@1x.jpg" srcset="img/photo-reviews-lg@2x.jpg 2x" width="481" height="332" alt="Фото Василисы Лазаревой">
                  </picture>
                </div>
                <div class="comment-reviews__description">
                  <b>Василиса Лазарева</b>
                  <blockquote class="comment-reviews__blockquote">
                    <p>Я выражаю огромную благодарность<br>&nbsp;вашему питомнику. Мой Феликс невероятно<br>&nbsp;умен и воспитан. Огромным плюсом питомника<br>&nbsp;является возможность консультироваться в любое время</p>
                  </blockquote>
                  <div class="comment-reviews__row">
                    <time class="comment-reviews__date" datetime="2019-05-24T">24 мая 2018</time>
                    <ul class="list-reset social comment-reviews__social">
                      <li class="social__item">
                        <a class="social__link" target="_blank" title="Твитер" href="#">
                          <span class="visually-hidden">Мы в твитере</span>
                          <svg width="16" height="11">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="social__item">
                        <a class="social__link" target="_blank" title="Вконтакте" href="#">
                          <span class="visually-hidden">Мы в контакте</span>
                          <svg width="13" height="8">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wk"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="toggles">
        <button class="btn toggles__btn toggles__btn--prev" aria-label="Previous slide" type="button">Вперёд</button>
        <button class="btn toggles__btn toggles__btn--next" aria-label="Next slide" type="button">Назад</button>
      </div>
    </div>
  </div>
</section>
