<section class="team">
  <div class="team__title">
    <h2>Наша команда</h2>
    <p>Все сотрудники нашего питомника дипломированые специалисты в области фелинологии и ветеринарии</p>
  </div>
  <div class="team__inner">
    <div class="slider">
      <div class="swiper-container">
        <ul class="list-reset swiper-wrapper">
          <li class="slider__item swiper-slide">
            <article class="comment">
              <h3 class="visually-hidden">Сережа Попов</h3>
              <div class="comment__inner">
                <div class="comment__img-wrap">
                  <picture>
                    <source type="image/webp" media="(max-width: 767px)" srcset="img/photo-comment-sm@1x.webp, img/photo-comment-sm@2x.webp 2x">
                    <source type="image/webp" media="(max-width: 1365px)" srcset="img/photo-comment-md@1x.webp, img/photo-comment-sm@2x.webp 2x">
                    <source type="image/webp" srcset="img/photo-comment-lg@1x.webp, img/photo-comment-lg@2x.webp 2x">
                    <source media="(max-width: 767px)" srcset="img/photo-comment-sm@1x.jpg, img/photo-comment-sm@2x.jpg 2x">
                    <source media="(max-width: 1365px)" srcset="img/photo-comment-md@1x.jpg, img/photo-comment-md@2x.jpg 2x">
                    <img src="img/photo-comment-lg@1x.jpg" srcset="img/photo-comment-lg@2x.jpg 2x" width="360" height="356" alt="Фото Сережи Попова">
                  </picture>
                </div>
                <div class="comment__description">
                  <b>Сережа Попов</b>
                  <p>Основатель питомника</p>
                  <blockquote class="comment__blockquote">
                    <p>Наш питомник занимается разведением Мейн-Кунов на протяжениие 15 лет.<br>Мы в ответе за каждого приобретенного вами питомца</p>
                  </blockquote>
                  <ul class="list-reset comment__social social">
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Фейсбук" href="#">
                        <span class="visually-hidden">Мы в фейсбуке</span>
                        <svg width="5" height="11">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Твитер" href="#">
                        <span class="visually-hidden">Мы в твитере</span>
                        <svg width="15" height="11">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Вконтакте" href="#">
                        <span class="visually-hidden">Мы в контакте</span>
                        <svg width="13" height="8">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wk"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </li>
          <li class="slider__item swiper-slide">
            <article class="comment">
              <h3 class="visually-hidden">Сережа Попов</h3>
              <div class="comment__inner">
                <div class="comment__img-wrap">
                  <picture>
                    <source type="image/webp" media="(max-width: 767px)" srcset="img/photo-comment-sm@1x.webp, img/photo-comment-sm@2x.webp 2x">
                    <source type="image/webp" media="(max-width: 1365px)" srcset="img/photo-comment-md@1x.webp, img/photo-comment-sm@2x.webp 2x">
                    <source type="image/webp" srcset="img/photo-comment-lg@1x.webp, img/photo-comment-lg@2x.webp 2x">
                    <source media="(max-width: 767px)" srcset="img/photo-comment-sm@1x.jpg, img/photo-comment-sm@2x.jpg 2x">
                    <source media="(max-width: 1365px)" srcset="img/photo-comment-md@1x.jpg, img/photo-comment-md@2x.jpg 2x">
                    <img src="img/photo-comment-lg@1x.jpg" srcset="img/photo-comment-lg@2x.jpg 2x" width="360" height="356" alt="Фото Сережи Попова">
                  </picture>
                </div>
                <div class="comment__description">
                  <b>Сережа Попов</b>
                  <p>Основатель питомника</p>
                  <blockquote class="comment__blockquote">
                    <p>Наш питомник занимается разведением Мейн-Кунов на протяжениие 15 лет. Мы в ответе за каждого приобретенного вами питомца</p>
                  </blockquote>
                  <ul class="list-reset comment__social social">
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Фейсбук" href="#">
                        <span class="visually-hidden">Мы в фейсбуке</span>
                        <svg width="5" height="11">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Твитер" href="#">
                        <span class="visually-hidden">Мы в твитере</span>
                        <svg width="15" height="11">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Вконтакте" href="#">
                        <span class="visually-hidden">Мы в контакте</span>
                        <svg width="13" height="8">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wk"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </li>
          <li class="slider__item swiper-slide">
            <article class="comment">
              <h3 class="visually-hidden">Сережа Попов</h3>
              <div class="comment__inner">
                <div class="comment__img-wrap">
                  <picture>
                    <source type="image/webp" media="(max-width: 767px)" srcset="img/photo-comment-sm@1x.webp, img/photo-comment-sm@2x.webp 2x">
                    <source type="image/webp" media="(max-width: 1365px)" srcset="img/photo-comment-md@1x.webp, img/photo-comment-sm@2x.webp 2x">
                    <source type="image/webp" srcset="img/photo-comment-lg@1x.webp, img/photo-comment-lg@2x.webp 2x">
                    <source media="(max-width: 767px)" srcset="img/photo-comment-sm@1x.jpg, img/photo-comment-sm@2x.jpg 2x">
                    <source media="(max-width: 1365px)" srcset="img/photo-comment-md@1x.jpg, img/photo-comment-md@2x.jpg 2x">
                    <img src="img/photo-comment-lg@1x.jpg" srcset="img/photo-comment-lg@2x.jpg 2x" width="360" height="356" alt="Фото Сережи Попова">
                  </picture>
                </div>
                <div class="comment__description">
                  <b>Сережа Попов</b>
                  <p>Основатель питомника</p>
                  <blockquote class="comment__blockquote">
                    <p>Наш питомник занимается разведением Мейн-Кунов на протяжениие 15 лет. Мы в ответе за каждого приобретенного вами питомца</p>
                  </blockquote>
                  <ul class="list-reset comment__social social">
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Фейсбук" href="#">
                        <span class="visually-hidden">Мы в фейсбуке</span>
                        <svg width="5" height="11">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Твитер" href="#">
                        <span class="visually-hidden">Мы в твитере</span>
                        <svg width="15" height="11">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tw"></use>
                        </svg>
                      </a>
                    </li>
                    <li class="social__item">
                      <a class="social__link" target="_blank" title="Вконтакте" href="#">
                        <span class="visually-hidden">Мы в контакте</span>
                        <svg width="13" height="8">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wk"></use>
                        </svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
      <div class="toggles">
        <button class="btn toggles__btn toggles__btn--prev" aria-label="Previous slide">Вперёд</button>
        <button class="btn toggles__btn toggles__btn--next" aria-label="Next slide">Назад</button>
      </div>
    </div>
  </div>
</section>
