@mixin text {
  font-size: $font-size;
  line-height: 23px;

  text-align: center;
  letter-spacing: -0.2px;

  color: $brown-light;

  @media (max-width: $screen-sm) {
    font-size: 14px;
    line-height: 1.4;
  }
}
